@font-face {
  font-family: "DM Sans";
  src: url("../src/assets/fuentes/dmsans-variable-webfont.woff") format("woff"), url("../src/assets/fuentes/dmsans-variable-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Winter Holidays";
  src: url("../src/assets/fuentes/winterholidays-webfont.woff") format("woff"), url("../src/assets/fuentes/winterholidays-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Better Grade";
  src: url("../src/assets/fuentes/bettergrade-webfont.woff") format("woff"), url("../src/assets/fuentes/bettergrade-webfont.woff2") format("woff2");
}
@keyframes waves {
  0% {
    d: path("M 0,400 L 0,150 C 149.92857142857144,184.82142857142856 299.8571428571429,219.64285714285714 414,213 C 528.1428571428571,206.35714285714286 606.5,158.24999999999997 706,149 C 805.5,139.75000000000003 926.1428571428571,169.35714285714286 1052,176 C 1177.857142857143,182.64285714285714 1308.9285714285716,166.32142857142856 1440,150 L 1440,400 L 0,400 Z");
  }
  25% {
    d: path("M 0,400 L 0,150 C 102.03571428571428,186.67857142857144 204.07142857142856,223.35714285714286 312,211 C 419.92857142857144,198.64285714285714 533.7499999999999,137.25 676,123 C 818.2500000000001,108.75 988.9285714285716,141.64285714285714 1121,154 C 1253.0714285714284,166.35714285714286 1346.5357142857142,158.17857142857144 1440,150 L 1440,400 L 0,400 Z");
  }
  50% {
    d: path("M 0,400 L 0,150 C 140.67857142857142,177.14285714285714 281.35714285714283,204.28571428571428 394,204 C 506.64285714285717,203.71428571428572 591.25,176 700,179 C 808.75,182 941.6428571428571,215.71428571428572 1069,216 C 1196.357142857143,216.28571428571428 1318.1785714285716,183.14285714285714 1440,150 L 1440,400 L 0,400 Z");
  }
  75% {
    d: path("M 0,400 L 0,150 C 115.64285714285714,133.64285714285714 231.28571428571428,117.28571428571428 366,127 C 500.7142857142857,136.71428571428572 654.5,172.5 787,171 C 919.5,169.5 1030.7142857142858,130.71428571428572 1136,121 C 1241.2857142857142,111.28571428571429 1340.642857142857,130.64285714285714 1440,150 L 1440,400 L 0,400 Z");
  }
  100% {
    d: path("M 0,400 L 0,150 C 149.92857142857144,184.82142857142856 299.8571428571429,219.64285714285714 414,213 C 528.1428571428571,206.35714285714286 606.5,158.24999999999997 706,149 C 805.5,139.75000000000003 926.1428571428571,169.35714285714286 1052,176 C 1177.857142857143,182.64285714285714 1308.9285714285716,166.32142857142856 1440,150 L 1440,400 L 0,400 Z");
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1500%);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  background: #171A2F;
}

header {
  width: 100%;
  height: max-content;
  display: flex;
  position: relative;
  overflow: hidden;
}
header .cont-olas {
  width: 100vw;
  position: relative;
  z-index: 1;
}
header .cont-olas .contenedor-olas {
  position: relative;
  width: 100%;
  height: 0px;
  background-color: #FEFEFD;
  transition: height 0.3s ease-in-out;
}
header .cont-olas .contenedor-olas.active {
  height: 400px;
}
header .cont-olas .wave-img {
  animation: waves 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
header .header-content {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  z-index: 2;
  height: max-content;
}
header .header-content .logo {
  font-family: "Winter Holidays";
  font-size: 2.5rem;
  color: #020320;
}
header .header-content .menu-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 12rem;
  display: none;
  justify-content: center;
  align-items: center;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
header .header-content .menu-container .menu {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
header .header-content .menu-container .menu .item-menu {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 1.1rem;
}
header .header-content .menu-container .menu .item-menu a {
  color: #2C303E;
}
header .header-content .menu-container .menu .item-menu a:hover {
  color: #F8CF95;
}
header .header-content .menu-container .menu .item-menu.activo {
  padding-bottom: 1rem;
  border-bottom: 4px solid #020320;
  font-weight: 900;
}
header .header-content .menu-container .menu .item-menu.activo a {
  color: #020320;
}
header .header-content .candy-box {
  width: 28px;
  height: 28px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
header .header-content .candy-box .candy-item {
  width: 8px;
  height: 8px;
  background-color: #020320;
  border-radius: 50%;
}

.burbuja {
  background: linear-gradient(45deg, #2C303E 0%, #020320 100%);
  border-radius: 50%;
}

.btn {
  width: max-content;
  font-family: "DM Sans";
  font-weight: 500;
  align-items: center;
  display: inline-flex;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  color: #F8CF95;
  transition: background 0.3s ease;
}

.btn-pq {
  padding: 0.25rem 0.75rem;
  border-radius: 16px;
}

.ctn-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-bd {
  border: 2px solid transparent;
}
.btn-bd::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(45deg, #2C303E 0%, #F8CF95 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.btn-bd:hover {
  background: #FEFEFD;
  color: #2C303E;
  font-weight: 500;
}

/*# sourceMappingURL=variables.css.map */
