@font-face {
  font-family: "DM Sans";
  src: url("../src/assets/fuentes/dmsans-variable-webfont.woff") format("woff"), url("../src/assets/fuentes/dmsans-variable-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Winter Holidays";
  src: url("../src/assets/fuentes/winterholidays-webfont.woff") format("woff"), url("../src/assets/fuentes/winterholidays-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Better Grade";
  src: url("../src/assets/fuentes/bettergrade-webfont.woff") format("woff"), url("../src/assets/fuentes/bettergrade-webfont.woff2") format("woff2");
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1500%);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  background: #171A2F;
}

.contenido {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.contenido h1 {
  font-family: "Winter Holidays";
  text-align: center;
  color: #FEFEFD;
  font-size: 2.5rem;
  font-weight: 500;
}

.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
}
.input-group .input {
  width: auto;
  min-width: 280px;
  padding: 1rem;
  font-size: 0.875rem;
  background: transparent;
  outline: none;
  border: 2px solid #F8CF95;
  border-radius: 1.5rem;
  transition: color 0.4s ease-in-out;
  color: #F8CF95;
  font-family: "DM Sans";
}
.input-group .input::placeholder {
  font-size: 0.875rem;
  color: rgba(254, 254, 253, 0.32);
}
.input-group .input:focus {
  color: #fefefd;
}
.input-group .input[type=date]::-webkit-calendar-picker-indicator {
  background-color: #F8CF95;
  border-radius: 50%;
}
.input-group .textarea {
  width: 100%;
  min-width: 280px;
  padding: 1rem;
  font-size: 0.875rem;
  background: transparent;
  outline: none;
  border: 2px solid #F8CF95;
  border-radius: 1.5rem;
  transition: color 0.4s ease-in-out;
  color: #F8CF95;
  max-height: 10rem;
  font-family: "DM Sans";
}
.input-group .textarea::placeholder {
  font-size: 0.875rem;
  color: rgba(254, 254, 253, 0.32);
}
.input-group .textarea:focus {
  color: #fefefd;
}
.input-group .label {
  position: absolute;
  padding: 0 0.5rem;
  margin-left: 1.5rem;
  top: -0.5rem;
  color: #F8CF95;
  font-size: 0.875rem;
  background-color: #171A2F;
  font-family: "DM Sans";
  font-weight: 500;
}

.boton-submit {
  width: max-content;
  display: flex;
  gap: 0.8rem;
  padding: 0.625rem 1rem;
  border: none;
  outline: none;
  background: #2C303E;
  font-size: 1rem;
  color: #FEFEFD;
  font-weight: 600;
  align-items: center;
  border-radius: 1.5rem;
}
.boton-submit i {
  font-size: 1rem;
}
.boton-submit:hover {
  background: linear-gradient(45deg, #FEFEFD 0%, #F8CF95 100%);
  color: #2C303E;
}

.burbuja {
  background: linear-gradient(45deg, #2C303E 0%, #020320 100%);
  border-radius: 50%;
}

.btn {
  width: max-content;
  font-family: "DM Sans";
  font-weight: 500;
  align-items: center;
  display: inline-flex;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  color: #F8CF95;
  transition: background 0.3s ease;
}

.btn-pq {
  padding: 0.25rem 0.75rem;
  border-radius: 16px;
}

.ctn-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-bd {
  border: 2px solid transparent;
}
.btn-bd::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(45deg, #2C303E 0%, #F8CF95 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.btn-bd:hover {
  background: #FEFEFD;
  color: #2C303E;
  font-weight: 500;
}

/*# sourceMappingURL=variables.css.map */
