// Tipografia
// =================================
@font-face {
    font-family: 'DM Sans';
    src: 
        url('../src/assets/fuentes/dmsans-variable-webfont.woff') format('woff'),
        url('../src/assets/fuentes/dmsans-variable-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Winter Holidays';
    src: 
        url('../src/assets/fuentes/winterholidays-webfont.woff') format('woff'),
        url('../src/assets/fuentes/winterholidays-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Better Grade';
    src: 
        url('../src/assets/fuentes/bettergrade-webfont.woff') format('woff'),
        url('../src/assets/fuentes/bettergrade-webfont.woff2') format('woff2');
}


$tipografiaPrincipal: 'Winter Holidays';
$tipografiaSecundaria: 'DM Sans';
$tipografiaTerciaria: 'Better Grade';

// Colores
// =================================

$blanco: #FEFEFD;
$azul: #020320;
$gris: #2C303E;
$crema: #F8CF95;
$fondo: #171A2F;

$degradadoPrincipal: linear-gradient(45deg, $azul 0%, $gris 100%);
$degradadoSecundario: linear-gradient(45deg, $gris 0%, $azul 100%);
$degradadoVivo: linear-gradient(45deg, $gris 0%, $crema 100%);
$degradadoClaro: linear-gradient(45deg, $blanco 0%, $crema 100%);


// sombras
// =================================

$sombra: 0px 2px 8px $azul;
$sombraHover: 0px 7px 29px $azul;


// Animaciones
// =================================


@keyframes olas {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 100%;
    }
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-100% * 15)); }
}


// Reset CSS
// =================================

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


// Componentes
// =================================

body {
    width: 100%;
    height: 100%;
    background: $fondo;
}

header {
    width: 100%;
    height: max-content;
    display: flex;
    position: relative;
    overflow: hidden;

    .cont-olas {
        width: 100vw;
        position: relative;
        z-index: 1;

        .olas {
            position: relative;
            width: 100%;
            height: 0px;
            background-color: $blanco;
            transition:
                height 1s ease-in-out;

            &.active {
                height: 400px;
            }
        }

        img {
            position: relative;
            width: auto;
            height: 100px;
        }
    }

    .header-content {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        z-index: 2;
        height: max-content;
        



        .logo {
            font-family: $tipografiaPrincipal;
            font-size: 2.5rem;
            color: $azul;
        }

        .menu-container {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 12rem;
            display: none;
            justify-content: center;
            align-items: center;
            left: 0;
            opacity: 0;
            transition: opacity 1s ease-in-out,;

            .menu {
                width: 100%;
                height: max-content;
                display: flex;
                flex-direction: column;
                position: relative;
                justify-content: center;
                align-items: center;
                gap: 2rem;

                .item-menu {
                    font-family: $tipografiaSecundaria;
                    font-weight: 700;
                    font-size: 1.1rem;

                    a {
                        color: $gris;

                        &:hover {
                            color: $crema;
                        }
                    }


                    &.activo {
                        padding-bottom: 1rem;
                        border-bottom: 4px solid $azul;
                        font-weight: 900;

                        a {
                            color: $azul;
                        }
                    }
                }
            }

        }

        .candy-box {
            width: 28px;
            height: 28px;
            display: flex;
            flex-wrap: wrap;
            gap: 2px;

            .candy-item {
                width: 8px;
                height: 8px;
                background-color: $azul;
                border-radius: 50%;
            }
        }
    }
}

// header {
//     position: relative;
//     width: 100%;
//     height: max-content;
//     overflow: hidden;


//     .olas {
//         z-index: 1;
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         background-image: url('../assets/svg/ImgCurve3.svg');
//         background-size: cover;
//         animation: olas 16s linear infinite;
//     }


//     .header-content {
//         position: relative;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         padding: 2.5rem 4rem;
//         z-index: 2;

//         .logo {
//             font-family: $tipografiaPrincipal;
//             font-size: 4rem;
//             color: $azul;
//         }

//         .menu-container {
//             padding-right: 6.5rem;

//             .menu {
//                 display: flex;
//                 align-items: top;
//                 gap: 56px;

//                 .item-menu {
//                     font-family: $tipografiaSecundaria;
//                     font-weight: 700;
//                     font-size: 1.1rem;

//                     a {
//                         color: $gris;

//                         &:hover {
//                             color: $crema;
//                         }
//                     }


//                     &.activo {
//                         padding-bottom: 1rem;
//                         border-bottom: 4px solid $azul;
//                         font-weight: 900;

//                         a {
//                             color: $azul;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

.burbuja {
    background: $degradadoSecundario;
    border-radius: 50%;
}

$border-radius: 30px; 
$border-width: 2px;

.btn {
    width: max-content;
    font-family: $tipografiaSecundaria;
    font-weight: 500;
    align-items: center;
    display: inline-flex;
    gap: 0.5rem;
    padding: 1rem; 
    border-radius: $border-radius;
    position: relative;
    overflow: hidden;
    color: $crema;
    transition: background .3s ease;

    

    
}

.btn-pq {
    padding: 0.25rem 0.75rem;
    border-radius: 16px;
}

.ctn-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btn-bd {
    border: 2px solid transparent;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1; 
        border-radius: inherit; 
        padding: $border-width; 
        background: $degradadoVivo;
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    
    }

    &:hover {
        background: $blanco;
        // border-color: $blanco;
        color: $gris;
        font-weight: 500;
    }
}




